.Bg{
    background-image: url('/public/Images/doctor.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 450px;
}

.box1{
background-color: #0392ce;
position: relative;
bottom: -300px;
}


.bg_lab{
    background-image: url('/public/Images/service-big-2.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 180px;
}